$soft-orange-clr: hsl(35, 77%, 62%);
$soft-red-clr: hsl(5, 85%, 63%);
$off-white-clr: hsl(36, 100%, 99%);
$grayish-blue-clr: hsl(233, 8%, 79%);
$dark-grayish-blue-clr: hsl(236, 13%, 42%);
$dark-blue-clr: hsl(240, 100%, 5%);