/* Google Fonts - Libre Franklin */

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

$font-inter: "Inter", sans-serif;

$font-size: 15px;

$fw-400: 400;
$fw-700: 700;
$fw-800: 800;
